@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nixie+One&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Nixie+One&family=Palanquin+Dark&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Josefin+Sans&family=Nixie+One&family=Palanquin+Dark&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Forum&family=Josefin+Sans&family=Nixie+One&family=Palanquin+Dark&family=Poiret+One&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  background: black;
  background: #0D101E;
  background: #192334;
  background: linear-gradient(#0D101E, #192334, #0D101E);
  color: white;
  font-family: sans-serif;
  font-family: 'Helvetica';
  font-family: 'Roboto';
  font-family: 'Sawarabi Mincho';
  font-family: 'Nixie One';
  font-family: 'PT Mono';
  font-family: 'Montserrat';
  text-align: center;
  box-sizing: border-box;
}

::selection {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1D2333;
  /* background-color: black; */
}

::-webkit-scrollbar-thumb {
  background-color: #313646;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */
header {
  height: 100vh;
  /* background: #0D101E; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 2rem;
  /* color: transparent; */
}

header h2 {
  padding: 0.5rem;
  padding: 1rem;
  /* background: white; */
  /* color: #0D101E; */
  color: transparent;
  color: white;
  /* border: 1px solid white; */
  /* border-bottom: 1px solid white; */
  /* border-top: 1px solid white; */
  /* transition: all 1s; */
  /* font-style: italic; */
}

.brackets {
  font-size: 2.5rem;
  color: orange;
  color: #0D101E;
  color: #3484E3;
  font-weight: 100;
  font-weight: 300;
}

/* #test {
  height: 50px;
  width: 300px;
  background: white;
  background: inherit;
  position: relative;
  top: -4rem;
} */

@media only screen and (max-width: 480px) {
  header {
    display: block;
  }
  header h1, h2 {
    position: relative;
    top: 35%;
  }
  header h1 {
    font-size: 3.5rem;
  }
}

/* SECTIONS */
section {
  padding: 2rem;
}

/* PORTFOLIO */
#portfolio {
  /* height: 100vh; */
  /* background: #192333; */
  margin-bottom: 4rem;
}

#portfolio h2 {
  display: inline-block;
  /* background: white; */
  /* color: #0D101E; */
  padding: 1rem 3rem;
  /* border: 1px solid white; */
  border-bottom: 1px solid white;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.project {
  height: 400px;
  /* height: 30%; */
  width: 400px;
  /* width: 30%; */
  background: black;
  margin: 1rem;
}

@media only screen and (max-width: 1010px) {
  .project {
    width: 95vw;
    height: 400px;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #portfolio h2 {
    font-size: 1.5rem;
  }
}

/* SKILLS */
#skills {
  height: 20vh;
  height: 8rem;
  height: 10rem;
  /* width: 60%; */
  max-width: 1024px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid white; */
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
  background: white;
  background: rgba(255, 255, 255, 0.9);
  background: #202330;
  background: inherit;
  border: 2px solid #1B354E;
  border: 2px solid #3484E3;
  border: 2px solid #73C4FA;
  border-radius: 0;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0 0 50px #1B354E, 0 0 100px #1B354E;
  box-shadow: 0 0 50px #1B354E;
}

#skills h2 {
  padding-bottom: 1rem;
}

#skills-container {
  /* background: white;
  background: rgba(255, 255, 255, 0.9);
  background: #202330;
  border: 2px solid #1B354E; */
}

#skills i {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem;
  color: lightblue;
  color: green;
  color: cyan;
  color: grey;
  color: initial;
  color: #0D101E;
  color: white;
}

@media only screen and (max-width: 1024px) {
  #skills {
    height: initial;
    margin: 0 1rem;
  }

  #skills i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  #skills {
    display: none;
  }
}

/* CONTACT */
#contact {
  /* height: 40vh; */
  height: 20rem;
  height: 55vh;
  /* background: lightblue; */
  /* padding-top: 4rem; */
  /* padding-bottom: 14rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

#contact h3 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

#contact a {
  /* padding: 1rem; */
  /* background: lightblue; */
  /* background: white; */
  /* color: initial; */
  border-radius: 5px;
  border-radius: 2px;
  border-radius: 0;
  /* border: 1px solid white; */
  border: ;
  border-bottom: 2px solid white;
  border-bottom: 2px solid #73C4FA;
  border-bottom: 2px solid #3484E3;
  transition: border-bottom 0.15s;
}

#contact a:hover {
  border-bottom: 2px solid #3484E3;
  border-bottom: 2px solid white;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 500px) {
  #contact {
    height: 85vh;
    padding-top: initial;
    padding-bottom: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* FOOTER */
footer {
  /* border-top: 1px solid grey; */
  margin: 0 2rem;
}

#copyright {
  color: grey;
  font-size: 0.8rem;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem;
  border-top: 1px solid grey;
  display: inline-block;
}
